
.searchable:hover {
    background-color: #f5f5f5;
}

.searchable::before {
    padding: 0px;
    margin: 0px;
}

.searchable {
    text-decoration: none !important;
    color: inherit !important;
    padding: 20px !important;
}

.mapboxgl-canvas{
    width: 100% !important;
    height: auto !important;
}

.mapboxgl-ctrl-attrib-inner{
    display: none !important;
}

.mapboxgl-ctrl-attrib-button{
    display: none !important;
}

.slider {
    position: absolute;
    width: 100%;
    height: 5px;
    overflow-x: hidden;
}

.line {
    position: absolute;
    opacity: 1;
    background: #aed581;
    width: 150%;
    height: 5px;
}

.subline {
    position: absolute;
    background: #2fa858;
    height: 5px;
}

.inc {
    animation: increase 2s infinite;
}

.dec {
    animation: decrease 2s 0.5s infinite;
}

.btn {
    white-space: normal !important;
    word-wrap: break-word;
}
.container {
    width: 100vw;
    padding: 0 15px; /* Adjust the value as needed */
    margin: 0 auto; /* Center the container */
    box-sizing: border-box; /* Include padding in the width calculation */
}



@keyframes increase {
    from {
        left: -5%;
        width: 5%;
    }

    to {
        left: 130%;
        width: 100%;
    }
}

@keyframes decrease {
    from {
        left: -80%;
        width: 80%;
    }

    to {
        left: 110%;
        width: 10%;
    }
}

#fader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    pointer-events: none;
    background: #fff;
    animation-duration: 200ms;
    animation-timing-function: ease-in-out;
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#fader.fade-out {
    opacity: 0;
    animation-name: fade-out;
}

#fader.fade-in {
    opacity: 1;
    animation-name: fade-in;
}

.infinity-server {
    margin-left: 10px !important;
    margin-right: -5px !important;
}

.card {
    transition: background 400ms;
    background-color: rgba(40, 43, 85);
    flex-grow: 1;
}
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
#services {
    background-color: rgb(63, 61, 84); 
}

#features {
    background-color: rgb(30, 42, 75); /* light pink */
}

.section-background {
    background-color: rgb(40, 43, 85);
}


#services, #features, .section-background {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.modal-content-black-text,
.modal-content-black-text .modal-header,
.modal-content-black-text .modal-body,
.modal-content-black-text .modal-footer {
  color: black;
}





@media only screen and (min-width: 1801px) {
    #cardDividerGPUML {
        display: none !important;
    }
}


@media only screen and (max-width: 1800px) {
    #cardDividerGPUML {
        display: block !important;
    }
}


@media only screen and (min-width: 1551px) {
    .cardDividerLoc {
        display: none !important;
    }
}


@media only screen and (max-width: 1551px) {
    .cardDividerLoc {
        display: block !important;
    }

    .locImage {
        display: none !important;
    }
}

@media only screen and (max-width: 2000px) {
    .greenTag {
        display: none !important;
    }

    .locDesc {
        display: none !important;
    }
}


@media only screen and (min-width: 2401px) {
    #cardDividerOS {
        display: none !important;
    }
}

@media only screen and (max-width: 2400px) {
    #cardDividerOS {
        display: block !important;
    }
}

@media only screen and (min-width: 2401px) {
    #cardDividerGPUGP {
        display: none !important;
    }
}

@media only screen and (max-width: 1501px) {
    #cardDividerGPUGP {
        display: none !important;
    }
}

@media only screen and (min-width: 1501px) and (max-width: 2400px) {
    #cardDividerGPUGP {
        display: block !important;
    }
}

@media only screen and (min-width: 1501px) {
    .cardDividerGPUGPSM {
        display: none !important;
    }
}

@media only screen and (max-width: 1500px) {
    .cardDividerGPUGPSM {
        display: block !important;
    }
}

@media only screen and (max-width: 1378px) {
    .emptyGPUCard {
        display: none !important;
    }
}

@media only screen and (max-width: 992px) {
    #sidebar {
        width: 100% !important;
        height: 100px !important;
        position: relative !important;
        display: none !important;
        /* padding: 0px !important; */
    }

    #sidebarContainer {
        padding: 32px !important;
    }

    #mainbody {
        width: 100vw !important;
    }

    #mobileNavbar {
        display: block !important;
    }
}

/* expand to fill sidebar spce when printing page */
@media print {
    #mainbody {
        width: 100vw !important;
    }
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%23506690' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.btn-toggle {
    display: inline-flex;
    align-items: center;
    padding: .25rem .5rem;
    font-weight: 600;
    font-size: 1.15em;
    color: rgba(0, 0, 0, .65);
    background-color: transparent;
    border: 0;
}

.btn-toggle:hover,
.btn-toggle:focus {
    color: rgba(0, 0, 0, .85);
    background-color: rgba(47, 168, 88, 0.1);
}

.btn-toggle-icon::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
    color: rgba(0, 0, 0, .85);
}

.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
}

.btn-toggle-nav a {
    display: inline-flex;
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
    text-decoration: none;
}

.btn-toggle-nav a:hover,
.focus,
.btn-toggle-nav a:focus {
    background-color: rgba(47, 168, 88, 0.1);
}


.text {
    width: 100%;
    display: flex;
    margin: 30px 0 35px;
}

.text .field {
    display: flex;
    width: 100%;
    align-items: center;
}

.field input {
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 16px;
    margin-left: 12px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #999;
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.text .separator {
    width: 40px;
    display: flex;
    font-size: 16px;
    align-items: center;
    justify-content: center;
}

.slider {
    height: 5px;
    position: relative;
    background: #ddd;
    border-radius: 5px;
}

.slider .progress {
    height: 100%;
    left: 0%;
    right: 0%;
    position: absolute;
    border-radius: 5px;
    background: #2fa858;
}

.range {
    position: relative;
}

.range input {
    position: absolute;
    width: 100%;
    height: 5px;
    top: -5px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background: #2fa858;
    pointer-events: auto;
    -webkit-appearance: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

input[type="range"]::-moz-range-thumb {
    height: 17px;
    width: 17px;
    border: none;
    border-radius: 50%;
    background: #2fa858;
    pointer-events: auto;
    -moz-appearance: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

#basic-addon1 {
    background-color: #f1f4f8;
    border-color: #ddd;
}

#search {
    border-color: #ddd;
}

.row-link {
    color: black
}

.row-link {
    text-decoration: none;
}

.row-link:hover .column {
    background-color: #f1f4f8;
    cursor: pointer;
}

.plans-list .column {
    background-color: var(--bs-table-bg);
    padding: 24px 32px;
}

.region-img {
    width: 50%;
    height: 50%;
    margin: auto;
}

/* .port-forward {
    font-size: 16px;
    padding: 1px 0px;
} */